.tools__global h3 {
  font-size: 1.5rem;
  z-index: 1;
}
.tools__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
  padding: 30px 20px;
  gap: 25px;
}

.tools__card {
  width: 240px;
  height: 262px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.8s;
}
.tools__card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
  border: 1px solid blue;
}
.tools__card__top {
  width: 240px;
  height: 180px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.tools__card__top img {
  width: 240px;
  height: 180px;
  object-fit: cover;
  transition-duration: 0.3s;
}
.tools__card__top img:hover {
  scale: 1.05;
}
.marketing__card__bottom {
  width: 240px;
  height: 82px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  text-align: justify;
  font-size: 14px;
}
.marketing__card__bottom h4 {
  color: black;
}
.marketing__card__bottom p {
  color: #696969;
}
.tools__card__bottom {
  width: 240px;
  height: 82px;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}
.tools__rightArrow {
  color: #3d73ff !important;
}
.tools__card__bottom h4 {
  color: #1f2d54;
}
.tools__card__bottom p {
  color: #a28ab8;
}
@media (max-width: 991px) {
  .tools__cards {
    justify-content: space-around;
  }
}
@media (max-width: 703px) {
  .tools__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 30px 20px;
  }

  .tools__card {
    width: 220px;
    height: 262px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    overflow: hidden;
  }
  .tools__card__top {
    width: 220px;
    height: 180px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .tools__card__top img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    transition-duration: 0.3s;
  }
  .tools__card__top img:hover {
    scale: 1.05;
  }
  .tools__card__bottom {
    width: 220px;
    height: 82px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
  }
}
