body {
  background: white;
  overflow-x: hidden;
}

.body__global {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 50px 10px 10px 10px;
}
.body__internal {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* width */
body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #012fd4;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
