body {
  background: white;
  overflow-x: hidden;
}

.body__global {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 50px 10px 10px 10px;
}
.body__internal {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
